@use 'variables' as v;

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}

*, 
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-style: normal;
    font-weight: 400;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    margin: 0;
}