$primary_font: "Bellefair", serif;
$secondary_font: "Barlow", sans-serif;

// Colors
$primary_color: #0B0D17;
$secondary_color: #D0D6F9;
$white: #FFFFFF;

// Mixins (Media queries)
$phone: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;